Repository ansys/pyaedt-toolkits-antenna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "tests/conftest.py"
    - "tests/backend/conftest.py"
    - "tests/backend/test_antenna_models_api/conftest.py"
    - "tests/backend/tests_toolkit_api/conftest.py"
    - "tests/backend/tests_toolkit_rest_api/conftest.py"

Fix deprecated
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  tests/backend/test_antenna_models_api/test_02_horn.py
Labels: none

Add new properties for coordinate system in horn modeler functions
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
Labels: none

Add new properties for coordinate system in horn modeler functions
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  tests/backend/test_antenna_models_api/test_02_horn.py
Labels: none

Add new properties for coordinate system in horn modeler functions
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
Labels: none

Enhance helix modeler: set coordinate system for user-defined parts and streamline test setup
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  tests/backend/test_antenna_models_api/test_03_helix.py
Labels: none

Enhance bowtie modeler: add coordinate system properties to various components
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  tests/backend/test_antenna_models_api/test_04_bowtie.py
Labels: none

Enhance conical spiral modeler: set working coordinate system and update UDM parameters
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  tests/backend/test_antenna_models_api/test_03_helix.py
  tests/backend/test_antenna_models_api/test_05_conical_spiral.py
Labels: none

Update make.bat
  doc/make.bat
Labels: none

Update Makefile
  doc/Makefile
Labels: none

Align year
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
  tests/backend/conftest.py
Labels: testing

Align version
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
Labels: none

Update project configuration and improve backend process handling
  .pre-commit-config.yaml
  LICENSE
  pyproject.toml
  src/ansys/aedt/toolkits/antenna/backend/api.py
  src/ansys/aedt/toolkits/antenna/run_toolkit.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: maintenance

Refactor response handling in scattering_results to return lists
  src/ansys/aedt/toolkits/antenna/backend/run_backend.py
Labels: none

Minor improvements
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
Labels: none

Improvements
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
Labels: none

Ruff fixes
  doc/source/conf.py
  installer/extract_version.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/parameters.py
  src/ansys/aedt/toolkits/antenna/backend/models.py
  src/ansys/aedt/toolkits/antenna/ui/models.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/help/help_menu.py
Labels: documentation

Split workflows
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
Labels: maintenance

Fix ci
  .github/workflows/ci_cd_pr.yml
Labels: maintenance

Fix ci
  pyproject.toml
Labels: maintenance

Doc fix
  doc/source/getting_started/installation.rst
Labels: none

Spec fix
  frozen.spec
Labels: none

Spec fix
  frozen.spec
Labels: none

Fix
  doc/source/getting_started/installation.rst
  doc/source/getting_started/user_guide.rst
  frozen.spec
  installer/VERSION
  pyproject.toml
Labels: maintenance

Fix
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
Labels: maintenance

Fix spec
  frozen.spec
Labels: none

Fix ci
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
Labels: maintenance

Enhance antenna model update logic to conditionally encode based on backend URL
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_menu.py
Labels: none

Update environment variable for AnsysEM version in CI/CD configurations
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
Labels: maintenance

Add ACT custom GPS patch family
  doc/source/toolkit/models/custom.rst
  doc/source/toolkit/models/index.rst
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/custom.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/GPS_patch_ceramic.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/ant_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/coax_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/feed_coax_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/feed_pin_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/gnd_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/port_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/port_cap_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/sub_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/parameters.toml
  tests/backend/test_antenna_models_api/test_06_custom.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: none

Add waveguide antenna family
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/waveguide.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/circularwaveguide/CirWG.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/circularwaveguide/model/metal.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/circularwaveguide/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/circularwaveguide/model/port_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/circularwaveguide/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/circularwaveguide/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguide/RectWG.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguide/model/metal.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguide/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguide/model/port_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguide/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguide/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguideslotarray/RectWGSlotArray.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguideslotarray/model/end_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguideslotarray/model/metal.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguideslotarray/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguideslotarray/model/port_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguideslotarray/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/waveguide/rectangularwaveguideslotarray/parameters.toml
  tests/backend/test_antenna_models_api/test_06_waveguide.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: none

Add slot antenna family scaffolding
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/slot.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/SlotCavityBackedArray.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/cavity_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/face_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/pin_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/port_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/SlotGap.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/gnd_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/port_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/sub_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/SlotMicrostrip.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/feed_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/gnd_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/port_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/sub_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/SlotTBar.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/cavity_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/port_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/parameters.toml
  tests/backend/test_antenna_models_api/test_06_slot.py
  tests/test_slot_backend_registration.py
  tests/test_slot_catalog_assets.py
Labels: none

Add misc antenna family
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/misc.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/Bicone.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/ant.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/ant.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/ant_1.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/ant_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/port_lump.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/Discone.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/ant.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/ant.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/gnd.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/gnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/port_lump.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/parameters.toml
  tests/backend/test_antenna_models_api/test_06_misc.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: none

Add Vivaldi antenna family
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/vivaldi.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/Vivaldi.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/ant_bottom.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/ant_bottom_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/ant_stripline.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/ant_stripline_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/ant_top.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/ant_top_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/sub.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/sub_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/VivaldiStepped.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/ant_bottom.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/ant_bottom_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/ant_stripline.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/ant_stripline_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/ant_top.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/ant_top_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/sub.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/sub_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/parameters.toml
  tests/backend/test_antenna_models_api/test_06_vivaldi.py
  tests/backend/tests_toolkit_api/test_vivaldi_toolkit.py
Labels: none

Add reflector family support
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/reflector.py
  src/ansys/aedt/toolkits/antenna/backend/api.py
  src/ansys/aedt/toolkits/antenna/backend/models.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/cassegrain/Cassegrain.PNG
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/cassegrain/model/feed.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/cassegrain/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/cassegrain/model/port_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/cassegrain/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/cassegrain/model/reflector.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/cassegrain/model/subreflector.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/cassegrain/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/gregorian/Gregorian.PNG
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/gregorian/model/feed.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/gregorian/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/gregorian/model/port_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/gregorian/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/gregorian/model/reflector.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/gregorian/model/subreflector.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/gregorian/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/parabolic/Parabolic.PNG
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/parabolic/model/feed.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/parabolic/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/parabolic/model/port_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/parabolic/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/parabolic/model/reflector.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/parabolic/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/splashplate/SplashPlate.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/splashplate/model/feed.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/splashplate/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/splashplate/model/port_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/splashplate/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/splashplate/model/reflector.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/splashplate/model/splash_plate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/reflector/splashplate/parameters.toml
  tests/backend/test_antenna_models_api/test_06_reflector.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: none

Update antenna model field access and modify desktop closure in tests
  src/ansys/aedt/toolkits/antenna/backend/api.py
  tests/backend/test_antenna_models_api/conftest.py
  tests/backend/tests_toolkit_api/conftest.py
Labels: testing

Fix serialization of Touchstone files by correctly accessing the file content
  src/ansys/aedt/toolkits/antenna/backend/api.py
Labels: none

Tighten slot catalog asset checks
  tests/test_slot_catalog_assets.py
Labels: none

Add dipole antenna family
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/dipole.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/PlanarDipole.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/ant_arm.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/ant_arm_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/sub.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/WireDipole.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/wire_arm.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/wire_arm_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/parameters.toml
  tests/backend/test_antenna_models_api/test_06_dipole.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
  tests/test_dipole_family.py
Labels: none

Fix reflector geometry parity
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/reflector.py
  tests/backend/test_antenna_models_api/test_06_reflector.py
Labels: none

Add YagiUda antenna family
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/yagiuda.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/QuasiYagi.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/ant_director_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/ant_driver_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/ant_launcher_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/gnd_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/port_lump_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/sub_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/wireyagiuda/WireYagiUda.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/wireyagiuda/model/ant_director_01_WireYagiUda.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/wireyagiuda/model/ant_driven_bottom_WireYagiUda.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/wireyagiuda/model/ant_driven_top_WireYagiUda.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/wireyagiuda/model/ant_reflector_WireYagiUda.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/wireyagiuda/model/port_lump_WireYagiUda.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/wireyagiuda/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/wireyagiuda/parameters.toml
  tests/backend/test_antenna_models_api/test_06_yagiuda.py
  tests/backend/test_antenna_models_api/test_98_export_yagiuda_assets.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: none
