Repository ansys/pyaedt-toolkits-antenna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Fix
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: none

chore: adding changelog file 373.added.md [dependabot-skip]
  doc/changelog.d/373.added.md
Labels: none

chore: adding changelog file 372.added.md [dependabot-skip]
  doc/changelog.d/372.added.md
Labels: none

chore: adding changelog file 371.added.md [dependabot-skip]
  doc/changelog.d/371.added.md
Labels: none

chore: adding changelog file 370.added.md [dependabot-skip]
  doc/changelog.d/370.added.md
Labels: none

chore: adding changelog file 369.added.md [dependabot-skip]
  doc/changelog.d/369.added.md
Labels: none

chore: adding changelog file 367.added.md [dependabot-skip]
  doc/changelog.d/367.added.md
Labels: none

chore: adding changelog file 368.added.md [dependabot-skip]
  doc/changelog.d/368.added.md
Labels: none

chore: adding changelog file 374.added.md [dependabot-skip]
  doc/changelog.d/374.added.md
Labels: none

chore: adding changelog file 378.added.md [dependabot-skip]
  doc/changelog.d/378.added.md
Labels: none

chore: adding changelog file 377.added.md [dependabot-skip]
  doc/changelog.d/377.added.md
Labels: none

chore: adding changelog file 379.added.md [dependabot-skip]
  doc/changelog.d/379.added.md
Labels: none

chore: adding changelog file 376.added.md [dependabot-skip]
  doc/changelog.d/376.added.md
Labels: none

chore: adding changelog file 375.added.md [dependabot-skip]
  doc/changelog.d/375.added.md
Labels: none

Refactor import statements for antenna models to improve readability
  doc/source/conf.py
  pyproject.toml
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
Labels: documentation, maintenance

Update CI/CD configurations to modify the runner environment for documentation builds
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
Labels: maintenance

chore: adding changelog file 380.dependencies.md [dependabot-skip]
  doc/changelog.d/380.dependencies.md
Labels: none

chore: adding changelog file 381.dependencies.md [dependabot-skip]
  doc/changelog.d/381.dependencies.md
Labels: none

chore: adding changelog file 382.dependencies.md [dependabot-skip]
  doc/changelog.d/382.dependencies.md
Labels: none

chore: adding changelog file 383.dependencies.md [dependabot-skip]
  doc/changelog.d/383.dependencies.md
Labels: none

DOCS: Update ``CONTRIBUTORS.md`` with the latest contributors (#357)
  CONTRIBUTORS.md
  doc/changelog.d/357.documentation.md
Labels: none

ci: Update all actions used in CI workflows to their latest releases
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Use argument persist-credentials: false with actions/checkout
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Remove template expansions from inside job runs and LD_LIBRARY_PATH export calls in linux tests
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
Labels: maintenance

ci: Fix anonymous-definition of commenter job in label.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Provide explanatory comments for permissions granted at job level
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Ignore potentially spoofable bot condition detected in ci_cd_pr.yml with inline comment
  .github/workflows/ci_cd_pr.yml
Labels: maintenance

ci: Disable default permissions at workflow level in label.yml - Add specific ones for commenter job with explanatory comment
  .github/workflows/label.yml
Labels: maintenance

ci: Ignore warning on insufficient cooldown in Dependabot updates for github-actions in dependabot.yml with inline comment
  .github/dependabot.yml
Labels: maintenance

ci: Add actions security check to ci_cd_pr.yml and ci_cd_release.yml workflows
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
Labels: maintenance

chore: adding changelog file 384.maintenance.md [dependabot-skip]
  doc/changelog.d/384.maintenance.md
Labels: none

CI: Add ``ansys/actions/check-actions-security`` action and related fixes (updated) (#384)
  .github/dependabot.yml
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  .github/workflows/label.yml
  doc/changelog.d/384.maintenance.md
Labels: maintenance

Fix doc
  doc/source/toolkit/models/bowtie.rst
  doc/source/toolkit/models/custom.rst
Labels: none

FEAT: Update boundary condition parameters and enhance antenna model files
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/ant_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/coax_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/feed_coax_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/feed_pin_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/gnd_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/port_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/port_cap_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/sub_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/rectangularpatchedge/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/rectangularpatchinset/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/rectangularpatchprobe/parameters.toml
Labels: none

FEAT: Add ACT custom GPS patch family (#367)
  doc/changelog.d/367.added.md
  doc/source/toolkit/models/custom.rst
  doc/source/toolkit/models/index.rst
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/custom.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/GPS_patch_ceramic.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/ant_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/coax_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/feed_coax_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/feed_pin_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/gnd_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/port_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/port_cap_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/model/sub_GPSPatchCeramic.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/gpspatchceramic/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/rectangularpatchinset/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/rectangularpatchprobe/parameters.toml
  tests/backend/test_antenna_models_api/test_06_custom.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: none

Fix plot
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/ant_arm.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/ant_arm_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/sub.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/wire_arm.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/wire_arm_1.obj
Labels: none

Fix test
  tests/test_dipole_family.py
Labels: none

FEAT: Add dipole antenna family (#368)
  doc/changelog.d/368.added.md
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/dipole.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/PlanarDipole.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/ant_arm.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/ant_arm_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/model/sub.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/planardipole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/WireDipole.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/wire_arm.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/model/wire_arm_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/wiredipole/parameters.toml
  tests/backend/test_antenna_models_api/test_06_dipole.py
Labels: none

Objects
  src/ansys/aedt/toolkits/antenna/backend/run_backend.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/model/Feed.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/model/Feed1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/model/coax.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/model/gnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/model/helix.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/model/port_cap.obj
Labels: none

Fixed tests
  doc/source/conf.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "tests/conftest.py"
    - "tests/backend/conftest.py"
    - "tests/backend/test_antenna_models_api/conftest.py"
    - "tests/backend/tests_toolkit_api/conftest.py"
    - "tests/backend/tests_toolkit_rest_api/conftest.py"
