Repository ansys/pyaedt-toolkits-antenna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Replaced obj models
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/model/Feed.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/model/Feed1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/model/coax.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/model/gnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/model/helix.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/model/port.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/model/port_cap.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/RadiatingSurface.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/feed_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/feed_2.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/feed_3.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/feed_4.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/gnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/helix_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/helix_2.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/helix_3.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/helix_4.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/port_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/port_2.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/port_3.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/port_4.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/feed_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/feed_2.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/feed_3.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/feed_4.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/gnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/helix_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/helix_2.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/helix_3.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/helix_4.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/port_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/port_2.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/port_3.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/port_4.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/short_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/short_2.obj
Labels: none

Finalize properly vtk render windows
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_menu.py
Labels: none

Fix test
  tests/backend/tests_toolkit_api/test_helix_catalog_assets.py
Labels: none

Rename test files for consistency and clarity
  tests/backend/test_antenna_models_api/test_bowtie.py
  tests/backend/test_antenna_models_api/test_common.py
  tests/backend/test_antenna_models_api/test_conical_spiral.py
  tests/backend/test_antenna_models_api/test_custom.py
  tests/backend/test_antenna_models_api/test_dipole.py
  tests/backend/test_antenna_models_api/test_helix.py
  tests/backend/test_antenna_models_api/test_horn.py
  tests/backend/test_antenna_models_api/test_patch.py
Labels: none

Increase timeout for antenna models testing in CI/CD configurations
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  tests/backend/test_antenna_models_api/test_helix.py
Labels: maintenance

Update color properties for helix and ground objects in properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmode/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/model/properties.toml
Labels: none

Add direction property and update coordinate system handling in models
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/custom.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  src/ansys/aedt/toolkits/antenna/backend/backend_properties.toml
  src/ansys/aedt/toolkits/antenna/backend/models.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmode/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/AxialModeTaper.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/AxialModeTaper.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/axialmodetaper/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/NormalMode.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/NormalMode.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/normalmode/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/QuadrifilarOpen.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/QuadrifilarOpen.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilaropen/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/QuadrifilarShort.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/QuadrifilarShort.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/quadrifilarshort/parameters.toml
Labels: none

Add direction property and update coordinate system handling in models
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/custom.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/dipole.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/patch.py
Labels: none

Refactor helix model handling: fit all models and unite helix objects
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
Labels: none

FEAT: Update antenna catalog structure and enhance coordinate system handling in misc.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/misc.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/ant.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/ant_1.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/port_lump.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/ant.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/gnd.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/port_lump.mtl
  tests/backend/test_antenna_models_api/test_misc.py
Labels: none

FEAT: Update antenna catalog structure and enhance coordinate system handling in misc.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
Labels: none

Add license
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/__init__.py
Labels: none

FEAT: Enhance documentation for antenna classes with reference notes
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/dipole.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/misc.py
Labels: none

FEAT: Add misc antenna family (#370)
  doc/changelog.d/370.added.md
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/dipole.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/misc.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/Bicone.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/ant.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/ant_1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/bicone/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/Discone.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/ant.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/gnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/discone/parameters.toml
  tests/backend/test_antenna_models_api/test_misc.py
Labels: none

chore: adding changelog file 388.dependencies.md [dependabot-skip]
  doc/changelog.d/388.dependencies.md
  pyproject.toml
Labels: maintenance

Fix Monopole
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/monopole.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/conicalspiral/sinuous/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/bladeantenna/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/bladeantenna/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/circulardiscmonopole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/circulardiscmonopole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/ellipticalbasestripmonopole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/ellipticalbasestripmonopole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/verticaltrapezoidalmonopole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/verticaltrapezoidalmonopole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopoleinfgnd/WireMonopole_InfGnd.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopoleinfgnd/model/port_lump_WireMonopoleInfGnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopoleinfgnd/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopoleinfgnd/model/reference_WireMonopoleInfGnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopoleinfgnd/model/wire_WireMonopoleInfGnd.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopoleinfgnd/parameters.toml
Labels: none

Apply suggestion from @SMoraisAnsys
  .github/dependabot.yml
Labels: maintenance

chore: adding changelog file 387.maintenance.md [dependabot-skip]
  doc/changelog.d/387.maintenance.md
Labels: none

chore: adding changelog file 386.maintenance.md [dependabot-skip]
  doc/changelog.d/386.maintenance.md
Labels: none

fix: contributing.md content
  CONTRIBUTING.md
Labels: none

fix: remove duplicate changelog entry
  doc/changelog.d/354.maintenance.md
Labels: none

FEAT: Update antenna model export logic and rename test file
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_menu.py
  tests/backend/test_antenna_models_api/test_monopole.py
Labels: none

Fixed bandit issues
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/monopole.py
Labels: none

CHORE: add dependabot cooldown settings (#387)
  .github/dependabot.yml
  doc/changelog.d/360.maintenance.md
  doc/changelog.d/387.maintenance.md
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
Labels: maintenance

CHORE: Update missing or outdated files (#386)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  doc/changelog.d/386.maintenance.md
Labels: none

FEAT: Add monopole antenna family (#371)
  doc/changelog.d/371.added.md
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/monopole.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/conicalspiral/sinuous/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/bladeantenna/Blade_Antenna.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/bladeantenna/model/antenna_BladeAntenna.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/bladeantenna/model/ground_BladeAntenna.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/bladeantenna/model/port_lump_BladeAntenna.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/bladeantenna/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/bladeantenna/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/circulardiscmonopole/CircularDiscMonopole.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/circulardiscmonopole/model/antenna_CircularDiscMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/circulardiscmonopole/model/ground_CircularDiscMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/circulardiscmonopole/model/port_lump_CircularDiscMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/circulardiscmonopole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/circulardiscmonopole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/ellipticalbasestripmonopole/EllipticalBaseStripMonopole.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/ellipticalbasestripmonopole/model/antenna_EllipticalBaseStripMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/ellipticalbasestripmonopole/model/ground_EllipticalBaseStripMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/ellipticalbasestripmonopole/model/port_lump_EllipticalBaseStripMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/ellipticalbasestripmonopole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/ellipticalbasestripmonopole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/verticaltrapezoidalmonopole/VerticalTrapezoidalMonopole.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/verticaltrapezoidalmonopole/model/antenna_VerticalTrapezoidalMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/verticaltrapezoidalmonopole/model/ground_VerticalTrapezoidalMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/verticaltrapezoidalmonopole/model/port_lump_VerticalTrapezoidalMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/verticaltrapezoidalmonopole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/verticaltrapezoidalmonopole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopole/WireMonopole.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopole/model/ground_WireMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopole/model/port_lump_WireMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopole/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopole/model/wire_WireMonopole.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/wiremonopole/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_menu.py
  tests/backend/test_antenna_models_api/test_monopole.py
Labels: none

Fix
  doc/source/conf.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
Labels: documentation

Fix tests
  tests/backend/test_antenna_models_api/test_patch.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
  tests/test_patch_catalog_assets.py
  tests/test_patch_synthesis_models.py
Labels: none

Fix tests
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/patch.py
Labels: none

fix: Remove unwanted changelog related to closed PR 360
  doc/changelog.d/360.maintenance.md
Labels: none

chore: adding changelog file 389.fixed.md [dependabot-skip]
  doc/changelog.d/389.fixed.md
Labels: none

FEAT: Update patch models to elliptical design with new material properties
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/ellipticalinset/model/ant_Patch.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/ellipticalinset/model/gnd_Patch.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/ellipticalinset/model/sub_Patch.obj
Labels: none

fix: Adding missing changelog fragment for PR 351
  doc/changelog.d/351.documentation.md
Labels: none

FIX: Remove unwanted changelog related to closed PR 360 (#389)
  doc/changelog.d/351.documentation.md
  doc/changelog.d/360.maintenance.md
  doc/changelog.d/389.fixed.md
Labels: none

Removed mtl and replaced some geometries
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/model/ant_feed_PlanarInvertedF.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/model/ant_microstrip_PlanarInvertedF.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/model/ant_short_arm_PlanarInvertedF.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/model/ant_short_wall_PlanarInvertedF.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/model/ant_top_PlanarInvertedF.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/model/gnd_PlanarInvertedF.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/model/port_lump_PlanarInvertedF.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/model/sub_PlanarInvertedF.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/ant_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/coax_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/feed_coax_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/feed_pin_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/gnd_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/port_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/port_cap_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/short_pin_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/model/sub_ShortingPin.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/ant_ShortingPlate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/coax_ShortingPlate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/feed_coax_ShortingPlate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/feed_pin_ShortingPlate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/gnd_ShortingPlate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/port_ShortingPlate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/port_cap_ShortingPlate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/shorting_plate_ShortingPlate.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/model/sub_ShortingPlate.obj
Labels: none

Fixes
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/pifa.py
Labels: none

Fixed toml files
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/planarinvertedf/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingpin/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/shortingplate/parameters.toml
Labels: none

Fixed test
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
Labels: none

Fixes
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

Remove unused test
  tests/backend/tests_toolkit_api/test_pifa_toolkit.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "tests/conftest.py"
    - "tests/backend/conftest.py"
    - "tests/backend/test_antenna_models_api/conftest.py"
    - "tests/backend/tests_toolkit_api/conftest.py"
    - "tests/backend/tests_toolkit_rest_api/conftest.py"
