Repository ansys/pyaedt-toolkits-antenna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Remove test
  tests/backend/tests_toolkit_rest_api/test_rest_api_toolkit.py
Labels: none

Updated gemetries and minor fixes
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/planar_spiral.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedean/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/ant_AntennaArm1catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/ant_AntennaArm2catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/ant_arm1.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/ant_arm2.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/bottom_absorber.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/bottom_absorber_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/gnd_cavity.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/gnd_cavity_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/middle_absorber.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/middle_absorber_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/port_lump_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/top_absorber.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/model/top_absorber_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planararchimedeancavity/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlog/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlogcavity/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/parameters.toml
Labels: none

Center frequency adds automatically
  src/ansys/aedt/toolkits/antenna/backend/models.py
Labels: none

Fix archimidean spiral
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/planar_spiral.py
Labels: none

Fix Log spiral
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
Labels: none

Fix color
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
Labels: none

Refactor conical spiral antenna implementation and update geometry creation logic
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
Labels: none

Update antenna arm colors to enhance visibility
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlogcavity/model/ant_AntennaArm1catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlogcavity/model/ant_AntennaArm2catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlogcavity/model/bottom_absorber_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlogcavity/model/gnd_cavity_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlogcavity/model/middle_absorber_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlogcavity/model/port_lump_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarlogcavity/model/top_absorber_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/ant_AntennaArm1catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/ant_AntennaArm2catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/ant_AntennaArm3catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/ant_AntennaArm4catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/gnd_1_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/gnd_2_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/port_lump_catalog_1.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/port_lump_catalog_2.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuous/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/ant_AntennaArm1catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/ant_AntennaArm2catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/ant_AntennaArm3catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/ant_AntennaArm4catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/bottom_absorber_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/gnd_1_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/gnd_2_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/gnd_cavity_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/middle_absorber_catalog.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/port_lump_catalog_1.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/port_lump_catalog_2.mtl
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/planarsinuouscavity/model/top_absorber_catalog.mtl
Labels: none

Improve colors and image view
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/planar_spiral.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog_menu.py
Labels: none

Rename edge object for clarity and update color assignment in conical spiral implementation
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
Labels: none

Fix test
  tests/backend/test_antenna_models_api/test_planar_spiral.py
Labels: none

Removed unused tests
  tests/backend/test_antenna_models_api/test_slot.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
  tests/test_slot_backend_registration.py
  tests/test_slot_catalog_assets.py
Labels: none

Improved models
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/port_lump_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/gnd_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/port_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/sub_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/feed_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/gnd_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/port_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/sub_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/port_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/properties.toml
Labels: none

Improved models
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/properties.toml
Labels: none

chore: adding changelog file 391.dependencies.md [dependabot-skip]
  doc/changelog.d/391.dependencies.md
Labels: none

chore: adding changelog file 392.dependencies.md [dependabot-skip]
  doc/changelog.d/392.dependencies.md
Labels: none

Improvements
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/slot.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/cavity_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/face_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/pin_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/port_lump_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/cavity_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/feed_slot_tbar.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/properties.toml
  tests/backend/test_antenna_models_api/test_patch.py
Labels: none

Reverted common
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
Labels: none

Applied ground split for port assignment
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/slot.py
Labels: none

Refactor backend URL and port assignment in run_frontend.py
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
Labels: none

Reverted pyproject.toml
  pyproject.toml
Labels: maintenance

Test
  pyproject.toml
Labels: maintenance

Test
  pyproject.toml
Labels: maintenance

Rollback pyvista version for doc build
  pyproject.toml
Labels: maintenance

FEAT: Add slot antenna family (#376)
  doc/changelog.d/376.added.md
  pyproject.toml
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/slot.py
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/SlotCavityBackedArray.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/cavity_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/face_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/pin_slot_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/port_lump_array.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotcavitybackedarray/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/SlotGap.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/gnd_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/model/sub_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotgap/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/SlotMicrostrip.jpg
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/feed_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/gnd_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/model/sub_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slotmicrostrip/parameters.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/SlotTBar.png
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/cavity_slot.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/feed_slot_tbar.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/port_lump.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/slottbar/parameters.toml
  tests/backend/test_antenna_models_api/test_patch.py
  tests/backend/test_antenna_models_api/test_slot.py
Labels: maintenance

docs: Update examples for compatibility with pyvista 0.48 in doc-build
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
  pyproject.toml
Labels: maintenance

chore: adding changelog file 393.documentation.md [dependabot-skip]
  doc/changelog.d/393.documentation.md
Labels: none

chore: adding changelog file 395.dependencies.md [dependabot-skip]
  doc/changelog.d/395.dependencies.md
Labels: none

chore: adding changelog file 390.dependencies.md [dependabot-skip]
  doc/changelog.d/390.dependencies.md
Labels: none

chore: adding changelog file 394.dependencies.md [dependabot-skip]
  doc/changelog.d/394.dependencies.md
Labels: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: none

chore: adding changelog file 396.maintenance.md [dependabot-skip]
  doc/changelog.d/396.maintenance.md
Labels: none

FEAT: Add Vivaldi antenna models to toolkit
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
Labels: none

FEAT: Update copyright years to 2026 in source files
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/bowtie/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/conicalspiral/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/custom/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/dipole/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/helix/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/horn/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/misc/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/monopole/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/patch/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/pifa/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/planarspiral/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/slot/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/help/help_menu.py
Labels: none

FEAT: Update Vivaldi antenna naming and properties in toolkit
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/vivaldi.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldi/model/properties.toml
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/vivaldi/vivaldistepped/model/properties.toml
Labels: none

FEAT: Update Vivaldi antenna naming and properties in toolkit
  tests/backend/test_antenna_models_api/test_vivaldi.py
  tests/backend/tests_toolkit_api/test_vivaldi_toolkit.py
Labels: none

Fix
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
Labels: none

Fix
  tests/backend/test_antenna_models_api/conftest.py
Labels: testing

Fix
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog_menu.py
Labels: none

Object fixes
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/ant_director_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/ant_driver_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/ant_launcher_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/gnd_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/port_lump_QuasiYagi.obj
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/yagiuda/quasiyagi/model/sub_QuasiYagi.obj
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "tests/conftest.py"
    - "tests/backend/conftest.py"
    - "tests/backend/test_antenna_models_api/conftest.py"
    - "tests/backend/tests_toolkit_api/conftest.py"
    - "tests/backend/tests_toolkit_rest_api/conftest.py"
