Repository ansys/pyaedt-toolkits-antenna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 342.documentation.md [dependabot-skip]
  doc/changelog.d/342.documentation.md
Labels: none

DOCS: Update ``CONTRIBUTORS.md`` with the latest contributors (#342)
  CONTRIBUTORS.md
  doc/changelog.d/342.documentation.md
Labels: none

Update SECURITY.md
  SECURITY.md
Labels: none

chore: adding changelog file 344.dependencies.md [dependabot-skip]
  doc/changelog.d/344.dependencies.md
Labels: none

Update action
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 339.added.md [dependabot-skip]
  doc/changelog.d/339.added.md
Labels: none

Debug mode
  .github/workflows/ci_cd.yml
Labels: maintenance

Debug mode
  .github/workflows/ci_cd.yml
Labels: maintenance

Update to v10.0.14
  .github/workflows/ci_cd.yml
Labels: maintenance

Update to v10.0.14
  .github/workflows/ci_cd.yml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

feat: Fix wrong env variable name in inputs to check-vulnerabilities action
  .github/workflows/ci_cd.yml
Labels: maintenance

Update VMs
  .github/workflows/ci_cd.yml
Labels: maintenance

Update VMs
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 345.dependencies.md [dependabot-skip]
  doc/changelog.d/345.dependencies.md
Labels: none

Fix deprecation
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
Labels: none

Fix error
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/run_toolkit.py
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_menu.py
Labels: none

Fix error
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_menu.py
Labels: none

Fix error
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_menu.py
Labels: none

Fix error
  tests/backend/conftest.py
Labels: testing

Fix doc
  doc/Makefile
  doc/make.bat
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
  pyproject.toml
Labels: maintenance

Fix doc
  doc/source/conf.py
Labels: documentation

Fix conf.py
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

Fix conf.py
  doc/source/toolkit/ui.rst
Labels: none

Add environment variable
  doc/source/conf.py
  doc/source/examples/antenna_toolkit_example.py
Labels: documentation

Update number of cores
  doc/source/examples/antenna_toolkit_example.py
Labels: none

Fix thumbnail
  doc/source/_static/bowtie_example.png
  doc/source/conf.py
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
Labels: documentation

Fix thumbnail
  doc/source/conf.py
Labels: documentation

Fix thumbnail
  doc/source/conf.py
Labels: documentation

Move initialization to main function
  src/ansys/aedt/toolkits/antenna/run_toolkit.py
Labels: none

chore: adding changelog file 346.added.md [dependabot-skip]
  doc/changelog.d/346.added.md
Labels: none

Updated cicd to include pyapp workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 349.dependencies.md [dependabot-skip]
  doc/changelog.d/349.dependencies.md
Labels: none

chore: adding changelog file 347.dependencies.md [dependabot-skip]
  doc/changelog.d/347.dependencies.md
Labels: none

chore: adding changelog file 348.dependencies.md [dependabot-skip]
  doc/changelog.d/348.dependencies.md
Labels: none

DOCS: Fix vtk-osmesa install step
  doc/Makefile
  doc/make.bat
Labels: none

DOCS: Fix vtk-osmesa install step (#351)
  doc/Makefile
  doc/make.bat
Labels: none

chore: adding changelog file 352.dependencies.md [dependabot-skip]
  doc/changelog.d/352.dependencies.md
Labels: none

CI: Remove vtk-osmesa from doc build
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/make.bat
Labels: maintenance

chore: adding changelog file 353.maintenance.md [dependabot-skip]
  doc/changelog.d/353.maintenance.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "tests/conftest.py"
    - "tests/backend/conftest.py"
    - "tests/backend/test_antenna_models_api/conftest.py"
    - "tests/backend/tests_toolkit_api/conftest.py"
    - "tests/backend/tests_toolkit_rest_api/conftest.py"
