Repository ansys/pyaedt-toolkits-antenna, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "tests/conftest.py"
    - "tests/backend/conftest.py"
    - "tests/backend/test_antenna_models_api/conftest.py"
    - "tests/backend/tests_toolkit_api/conftest.py"
    - "tests/backend/tests_toolkit_rest_api/conftest.py"

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Labels: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: none

chore: update SECURITY.md file
  SECURITY.md
Labels: none

chore: adding changelog file 354.maintenance.md [dependabot-skip]
  doc/changelog.d/354.maintenance.md
Labels: none

ci: Pin versions of actions in GitHub workflow files with SHA
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

chore: adding changelog file 355.maintenance.md [dependabot-skip]
  doc/changelog.d/355.maintenance.md
Labels: none

ci: Update all actions to their latest available versions
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

CI: Pin versions of actions in GitHub workflow files with SHA (#355)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog.d/355.maintenance.md
Labels: maintenance

ci: Use argument persist-credentials: false with actions/checkout
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Fix anonymous-definition of commenter job in label.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Avoid overly broad permissions at workflow level - Add specific ones for jobs using secrets with comments where needed
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Introduce dependabot cooldown for github actions
  .github/dependabot.yml
Labels: maintenance

ci: Ignore potentially spoofable bot condition detected in ci_cd.yml with inline comment
  .github/workflows/ci_cd.yml
Labels: maintenance

ci: Remove template expansions from inside job runs
  .github/workflows/ci_cd.yml
Labels: maintenance

ci: Update ansys/actions to v10.2.2
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Add actions security check to workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 356.maintenance.md [dependabot-skip]
  doc/changelog.d/356.maintenance.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 357.documentation.md [dependabot-skip]
  doc/changelog.d/357.documentation.md
Labels: none

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

ci: Apply suggestions from code review
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

ci: Fix typo in ci_cd.yml and restore env variable mistakenly removed in linux tests
  .github/workflows/ci_cd.yml
Labels: maintenance

refactor: Specify timeout in all calls to requests methods
  src/ansys/aedt/toolkits/antenna/ui/actions.py
Labels: none

chore: adding changelog file 358.miscellaneous.md [dependabot-skip]
  doc/changelog.d/358.miscellaneous.md
Labels: none

Apply suggestions from code review
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

ci: Fixes for smoke-tests and build-application-windows jobs
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 359.maintenance.md [dependabot-skip]
  doc/changelog.d/359.maintenance.md
Labels: none

refactor: Apply code review suggestion on definition of timeout default values
  src/ansys/aedt/toolkits/antenna/ui/actions.py
Labels: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: none

chore: update LICENSE file
  LICENSE
Labels: none

Add cooldown settings to dependabot.yml
  .github/dependabot.yml
Labels: maintenance

chore: adding changelog file 360.maintenance.md [dependabot-skip]
  doc/changelog.d/360.maintenance.md
Labels: none

Update toml
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance

Update codecov configuration and enhance frozen.spec for additional data collection
  LICENSE
  SECURITY.md
  codecov.yml
  frozen.spec
Labels: none

chore: adding changelog file 364.dependencies.md [dependabot-skip]
  doc/changelog.d/364.dependencies.md
Labels: none

chore: adding changelog file 365.dependencies.md [dependabot-skip]
  doc/changelog.d/365.dependencies.md
Labels: none

chore: adding changelog file 366.dependencies.md [dependabot-skip]
  doc/changelog.d/366.dependencies.md
Labels: none

chore: adding changelog file 363.dependencies.md [dependabot-skip]
  doc/changelog.d/363.dependencies.md
Labels: none

Add excitation type property and update lattice pair assignments
  .pre-commit-config.yaml
  LICENSE
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/patch.py
  src/ansys/aedt/toolkits/antenna/backend/api.py
  src/ansys/aedt/toolkits/antenna/run_toolkit.py
  src/ansys/aedt/toolkits/antenna/ui/actions.py
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
  src/ansys/aedt/toolkits/antenna/ui/splash.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog_column.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_catalog/antenna_catalog_page.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_column.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_page.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_page.py
  src/ansys/aedt/toolkits/antenna/ui/windows/help/help_column.py
  src/ansys/aedt/toolkits/antenna/ui/windows/help/help_menu.py
  src/ansys/aedt/toolkits/antenna/ui/windows/help/help_page.py
  tests/backend/conftest.py
  tests/backend/test_antenna_models_api/conftest.py
  tests/backend/test_antenna_models_api/test_00_common.py
  tests/backend/test_antenna_models_api/test_01_patch.py
  tests/backend/test_antenna_models_api/test_02_horn.py
  tests/backend/test_antenna_models_api/test_04_bowtie.py
  tests/backend/test_antenna_models_api/test_05_conical_spiral.py
  tests/backend/tests_toolkit_api/conftest.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
  tests/backend/tests_toolkit_rest_api/conftest.py
  tests/backend/tests_toolkit_rest_api/test_rest_api_toolkit.py
  tests/conftest.py
Labels: testing

Add excitation type property and update lattice pair assignments
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
Labels: none
