Repository ansys/pyaedt-toolkits-antenna, pull requests merged in 2024-08, with the labels that each got.

#282 FIX: PyAEDT compatibility
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/patch.py
  src/ansys/aedt/toolkits/antenna/backend/api.py
  src/ansys/aedt/toolkits/antenna/ui/actions.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_menu.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
  tests/backend/tests_toolkit_rest_api/test_rest_api_toolkit.py
Labels: bug, documentation

#281 CHORE: Update to use AEDT 24.2
  .github/workflows/ci_cd.yml
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
  tests/backend/conftest.py
  tests/backend/test_antenna_models_api/conftest.py
  tests/backend/tests_toolkit_api/conftest.py
  tests/backend/tests_toolkit_rest_api/conftest.py
Labels: documentation, maintenance

#285 update and sort imports
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
  doc/source/getting_started/user_guide.rst
  doc/source/toolkit/models/bowtie.rst
  doc/source/toolkit/models/conical_spiral.rst
  doc/source/toolkit/models/helix.rst
  doc/source/toolkit/models/horn.rst
  doc/source/toolkit/models/index.rst
  doc/source/toolkit/models/patch.rst
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/patch.py
  src/ansys/aedt/toolkits/antenna/backend/api.py
  src/ansys/aedt/toolkits/antenna/ui/actions.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_results/antenna_results_menu.py
  tests/backend/conftest.py
  tests/backend/test_antenna_models_api/conftest.py
  tests/backend/test_antenna_models_api/test_00_common.py
  tests/backend/test_antenna_models_api/test_01_patch.py
  tests/backend/test_antenna_models_api/test_02_horn.py
  tests/backend/test_antenna_models_api/test_03_helix.py
  tests/backend/test_antenna_models_api/test_04_bowtie.py
  tests/backend/test_antenna_models_api/test_05_conical_spiral.py
  tests/backend/tests_toolkit_api/conftest.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
  tests/backend/tests_toolkit_rest_api/conftest.py
  tests/backend/tests_toolkit_rest_api/test_rest_api_toolkit.py
  tests/conftest.py
Labels: documentation

#286 FIX: Change units to mm
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/patch.py
  src/ansys/aedt/toolkits/antenna/ui/windows/antenna_synthesis/antenna_synthesis_page.py
  tests/backend/tests_toolkit_api/test_backend_toolkit.py
  tests/backend/tests_toolkit_rest_api/test_rest_api_toolkit.py
Labels: bug
