Repository ansys/pyaedt-toolkits-antenna, pull requests merged in 2024-05, with the labels that each got.

#265 Update authors email
  pyproject.toml
Labels: bug, maintenance

#266 DOCS: Add assets download sources
  doc/source/_static/assets/download/.gitignore
  doc/source/_static/assets/download/README.md
Labels: bug, documentation

#267 DOC: Add pdf target to make.bat
  .github/workflows/ci_cd.yml
  doc/make.bat
Labels: documentation, maintenance

#268 FEAT: Modify theme and resolution with environment variable
  src/ansys/aedt/toolkits/antenna/run_toolkit.py
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
Labels: bug

#270 Install all dependencies until pipy release
  pyproject.toml
Labels: bug, maintenance

#272 Fix/check connection
  src/ansys/aedt/toolkits/antenna/run_toolkit.py
Labels: bug

#274 Update README.rst
  README.rst
Labels: documentation
