Repository ansys/pyaedt-toolkits-antenna, pull requests merged in 2025-02, with the labels that each got.

#302 FIX: PyAEDT new property name
  .github/workflows/ci_cd.yml
  LICENSE
  doc/source/examples/antenna_toolkit_example.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/patch.py
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
Labels: bug, documentation, maintenance

#303 BUILD: Temporary avoid latest flit versions
  pyproject.toml
Labels: maintenance

#301 CHORE: Cover only antenna toolkit backend
  pyproject.toml
Labels: documentation, maintenance
