Repository ansys/pyaedt-toolkits-antenna, pull requests merged in 2025-05, with the labels that each got.

#314 CHORE: Add Changelog
  .github/dependabot.yml
  .github/labeler.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .pre-commit-config.yaml
  .reuse/templates/mit_license.jinja2
  LICENSE
  SECURITY.md
  doc/changelog.d/314.maintenance.md
  doc/changelog.d/changelog_template.jinja
  doc/make.bat
  doc/source/changelog.rst
  doc/source/contributing.rst
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
  doc/source/getting_started/user_guide.rst
  doc/source/index.rst
  installer/extract_version.py
  installer/hooks/hook-ansys.aedt.core.py
  installer/hooks/hook-ansys.aedt.toolkits.antenna.py
  installer/hooks/hook-ansys.aedt.toolkits.common.py
  installer/hooks/hook-ansys.tools.visualization_interface.py
  pyproject.toml
  src/ansys/aedt/toolkits/antenna/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/__init__.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/bowtie.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/common.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/conical_spiral.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/helix.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/horn.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/parameters.py
  src/ansys/aedt/toolkits/antenna/backend/antenna_models/patch.py
  src/ansys/aedt/toolkits/antenna/backend/api.py
  src/ansys/aedt/toolkits/antenna/backend/models.py
  src/ansys/aedt/toolkits/antenna/backend/run_backend.py
  src/ansys/aedt/toolkits/antenna/run_toolkit.py
  src/ansys/aedt/toolkits/antenna/ui/__init__.py
  src/ansys/aedt/toolkits/antenna/ui/actions.py
  src/ansys/aedt/toolkits/antenna/ui/models.py
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
  src/ansys/aedt/toolkits/antenna/ui/splash.py
Labels: documentation, maintenance

#318 FIX: Upload artifacts
  .github/workflows/ci_cd.yml
  doc/changelog.d/318.fixed.md
  doc/make.bat
  doc/source/index.rst
Labels: bug, documentation, maintenance

#321 CI: Fix release process
  .github/workflows/ci_cd.yml
  doc/changelog.d/321.maintenance.md
  doc/source/getting_started/user_guide.rst
Labels: maintenance

#323 FIX: Fix release artifacts
  .github/workflows/ci_cd.yml
  doc/changelog.d/323.fixed.md
Labels: bug, maintenance

#327 CI: Fix codecov job
  .github/workflows/ci_cd.yml
  doc/changelog.d/327.maintenance.md
Labels: maintenance

#328 CHORE: Update CICD to Python 3.12
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  doc/Makefile
  doc/changelog.d/328.maintenance.md
  doc/source/examples/antenna_toolkit_example.py
  doc/source/examples/create_antenna_simple.py
  doc/source/getting_started/installation.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  setup.nsi
  src/ansys/aedt/toolkits/antenna/ui/models.py
  src/ansys/aedt/toolkits/antenna/ui/run_frontend.py
Labels: maintenance

#332 CHORE: Update dev version
  .github/workflows/ci_cd.yml
  doc/changelog.d/332.maintenance.md
  src/ansys/aedt/toolkits/antenna/__init__.py
Labels: maintenance
